
@{
    ViewData["Title"] = "successOrder";
    Layout = "~/Areas/Admin/Views/Shared/_WelcomeLayout.cshtml";
}

  <div>
            <p style="color:orange;font-size:30px;margin-left:180px;margin-top:100px">ĐƠN HÀNG CỦA BẠN ĐÃ ĐƯỢC ĐẶT THÀNH CÔNG, CHÚNG TÔI SẼ XỬ LÝ SỚM NHẤT</p>
        </div>

