@model IEnumerable<Web_Facts_Product_Selling.Models.TblProduct>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_WelcomeLayout.cshtml";
}



<
<table class="table table-striped" border="4">
    <thead>
       
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
            
                <tr>
                    <td style="color:dodgerblue;font-size:x-large">@item.ProductName</td>
                    <td><img src="~/public/frontend/images/@item.ProductImage" alt="" style="max-width:150px;max-height:150px"/></td>
                    <td style="font-size:x-large">Price: @item.ProductPrice</td>
                    <td>
                        <!--<a  asp-action="product_details" asp-route-id="">More information </a> -->
                        <button class="btn btn-success btn-lg"><a href="/product_details/@item.ProductId" style="color:white">More information </a></button>
                     
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

    </tbody>
</table>